@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html body {
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

img {
  height: 4em;
  padding: 10px;
}

p {
  position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
  display: flex;
  height: 100vh;
}

.card-container {
  position: relative;
  height: auto;
  min-height: 100%;
  width: min(640px, 40vw);
  min-width: 240px;
  background-image: url(/img/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.card-body {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 50px;
  overflow: auto;
}

.row {
    display: flex;
    flex: 1;
    gap: 20px;
    
}

input {
    text-indent: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 10px 10px 0px;
    padding: 15px;
    font-size: 1em;
}

input:focus-visible{
    outline-color: rgb(175, 135, 83);
}

.confirm-password {
  content: "wasup";
  color: red;
}

button {
    width: 200px;
    border: none;
    padding: 20px;
    font-size: 0.8em;
    background-color: rgba(255, 167, 2, 0.2);
    border-radius: 10px;
    margin: 0px;

}

fieldset {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    border: none;
    background: rgba(256, 256, 256, 1);
    margin: 20px 0px 20px 0px;
    padding: 0px;
    gap: 10px;
}

.bottom-info {
    display: block;
    font-size: 0.9em;
    margin-top: 20px;
}

.error {
  padding: 0;
  font-size: 80%;
  color: red;
  white-space: pre-line;
  box-sizing: border-box;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
        gap: 0px;
    }

}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  h3 {
    margin: 0px;
  }

  .card-body {
    position: static;
  }

  .card-paragraph {
    background: none;
    margin: 0px;
  }

  .card-container {
    min-height: auto;
    width: auto;
    min-width: auto;
  }

  fieldset, h3 {
    background: rgba(256, 256, 256, 0.9);
    border-radius: 2%;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }

  input {
    background-color: rgba(256, 256, 256, 0.8);
  }

  label {
    color: black;
  }

  .content {
    background: none;
    overflow:visible;
    padding: 5vw;
    align-items: center;
  }
}
